In [1]:
import os
import numpy as np
import pandas as pd 
from pathlib import Path
import matplotlib.pyplot as plt

In [2]:
os.chdir("../")

In [9]:
emission = pd.read_csv('datas\country_emissions.csv',index_col=0)
country_info = pd.read_csv('datas\country_table.csv',index_col=0)

In [11]:
emission.head()

,country_name,country_code,1990,1991,1992,1993,1994,1995,1996,1997,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
1,Africa Eastern and Southern,AFE,0.982975,0.942212,0.907936,0.909550,0.913413,0.933001,0.943200,0.962203,...,0.976840,0.989585,1.001154,1.013758,0.960430,0.941337,0.933874,0.921453,0.915294,0.795420
2,Afghanistan,AFG,0.191389,0.180674,0.126517,0.109106,0.096638,0.088781,0.082267,0.075559,...,0.408965,0.335061,0.298088,0.283692,0.297972,0.268359,0.281196,0.299083,0.297564,0.223479
3,Africa Western and Central,AFW,0.470111,0.521084,0.558013,0.513859,0.462384,0.492656,0.554305,0.540062,...,0.451578,0.452101,0.481623,0.493505,0.475577,0.479775,0.465166,0.475817,0.490837,0.463150
4,Angola,AGO,0.554941,0.545807,0.544413,0.710961,0.839266,0.914265,1.073630,1.086325,...,0.983787,0.947583,1.031044,1.091497,1.125185,1.012552,0.829723,0.755828,0.753638,0.592743
5,Albania,ALB,1.844035,1.261054,0.689644,0.644008,0.649938,0.612055,0.621206,0.469831,...,1.768109,1.565921,1.656390,1.795712,1.665219,1.590069,1.880557,1.854642,1.749462,1.544550

In [12]:
country_info.head()

,country_code,region,incomegroup,tablename
1,AFE,Unknown_Region,Unknown_IncomeGroup,Africa Eastern and Southern
2,AFG,South Asia,Low income,Afghanistan
3,AFW,Unknown_Region,Unknown_IncomeGroup,Africa Western and Central
4,AGO,Sub-Saharan Africa,Lower middle income,Angola
5,ALB,Europe & Central Asia,Upper middle income,Albania

In [13]:
country_info['incomegroup'].value_counts()

incomegroup
High income            58
Lower middle income    54
Upper middle income    51
Unknown_IncomeGroup    49
Low income             26
Name: count, dtype: int64